<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrapmin")*@
    @*@Scripts.Render("~/bundles/bootstrapbundle")*@
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">*@
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>*@
    @*@Scripts.Render("~/bundles/bootbox")*@
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/bootstrapbundle")
    <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>


    @RenderSection("scripts", required: false)

</head>
<body>
<div class="">
    @Html.Partial("_Navbar")
    <div class="container mt-3">
        @RenderBody()

        <footer class="">
            <hr />
            <p>&copy; @DateTime.Now.Year - Vidly</p>
        </footer>
    </div>
</div>
    @Scripts.Render("~/bundles/script")
</body>
</html>
