@model Vidly.ViewModel.MovieFormViewModel
@{
    ViewBag.Title = "New Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="py-3">New Movie</h3>

@using (Html.BeginForm("Save", "Movies"))
{

    <div class="form-floating mb-3">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
        @Html.LabelFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </div>



    <div class="form-floating mb-3">
        @Html.TextBoxFor(m => m.ReleaseDate, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker", @type = "date" })
        @Html.LabelFor(m => m.ReleaseDate)
        @Html.ValidationMessageFor(m => m.ReleaseDate)
    </div>

    <div class="form-floating mb-3">
        @Html.DropDownListFor(m => m.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control form-select" })
        @Html.LabelFor(m => m.GenreId)
        @Html.ValidationMessageFor(m => m.GenreId)
    </div>

    <div class="form-floating mb-3">
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control", placeholder = "Number in Stock", @type = "number", min = "0" })
        @Html.LabelFor(m => m.NumberInStock)
        @Html.ValidationMessageFor(m => m.NumberInStock)
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
